@import "tailwindcss";

:root {
  --background: oklch(50% 0.042 265.755);
  --foreground: oklch(50% 0.042 265.755);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(20.8% 0.042 265.755);
    --foreground: oklch(20.8% 0.042 265.755);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
